# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Даша\Java-Laba-7-Development\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
